node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS

/src/lib/server/db/csv

.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

contexts/
# context-path.md
.aider*

# spec

ecosystem.config.cjs
